@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-dark-gray;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}